/* AnimatedButton.module.css */

.body1{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.animated-button {
  position: absolute;
  top: 50%;
  /* left: 50%; */
  transform: translate(-50%, -50%);
  color: #34ffea;
  overflow: hidden;
  padding: 30px 70px;
  font-size: 30px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 20px 50px rgb(255 255 255 / 5%);
}

@media (max-width: 800px) {
  .waiting-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Adjust height for smaller screens */
    background-color: #292929;
    margin-top: 2rem; /* Adjust margin for spacing */
    padding: 1rem; /* Add padding for spacing */
  }

  .waiting-content {
    text-align: center;
    color: white;
    margin-top: 1rem;
    
    /* Adjust margin for spacing */
  }

  .waiting-title {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  .waiting-subtitle {
    font-size: 16px; /* Adjust font size for smaller screens */
    margin-bottom: 1em;
  }

  .waiting-info {
    font-size: 20px; /* Adjust font size for smaller screens */
    margin-bottom: 0.5em;
  }

  .waiting-message {
    font-size: 16px; /* Adjust font size for smaller screens */
    margin-top: 1em;
  }

  .copy-button {
    font-size: 16px; /* Adjust font size for smaller screens */
    margin-top: 1em;
  }
}


.animated-button:before {
  position: absolute;
  width: 50%;
  top: 2px;
  left: 2px;
  bottom: 2px;
  content: "";
  background: rgb(142 255 240 / 10%);
}

.animated-button span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #002b9d, #34ffea);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animated-button span:nth-child(2) {
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, #002b9d, #34ffea);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.animated-button span:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  background: linear-gradient(to left, #002b9d, #34ffea);
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animated-button span:nth-child(4) {
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #002b9d, #34ffea);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.waiting-section {
  position: relative;
  margin-top: 2rem;
  text-align: center;
}

.waiting-content {
  padding: 1rem;
 
  border-radius: 10px;
}

.waiting-content h1 {
  color: #fff;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.waiting-content span {
  display: block;
  color: #f3d34a;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.waiting-content button {
  background-color: #34ffea;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #001632;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.waiting-content button:hover {
  background-color: #001632;
  color: #34ffea;
}



.smokeDarkTheme {
  background-color: #111;
  color: #fff;
  padding: 20px;
  transition: background-color 0.3s; /* Smooth transition on hover */

  /* Define the initial smoke position */
  position: relative;
  overflow: hidden;
}

.smokeDarkTheme::before {
  content: '';
  position: absolute;
  top: -50px; /* Adjust the starting position */
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white color */
  animation: smokeAnimation 4s infinite linear;
}

/* Define the smoke animation */
@keyframes smokeAnimation {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(2);
    opacity: 0.7;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}


.waiting-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh; /* Use viewport height for full-screen effect */
  background-color: #292929;
  margin-top: -17rem;
  width: 40vw;
}

.waiting-content {
  text-align: center;
  color: white;
}

.waiting-title {
  font-size: 36px;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: white;
}

.waiting-subtitle {
  font-size: 20px;
  margin-bottom: 1.5em;
  color: #9e9e9e;
}

.waiting-info {
  font-size: 24px;
  margin-bottom: 1em;
  font-weight: bold;
  color: white;
}

.waiting-message {
  font-size: 18px;
  font-family: monospace;
  color: #9e9e9e;
  margin-top: 1em;
}

.copy-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
  margin-top: 1em;
}

.copy-button:hover {
  background-color: #0056b3;
}

/* Add hover effect */
.smokeDarkTheme:hover {
  background-color: #333; /* Change background color on hover */
}
.smoke-wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 222px;
  }
  
  .smoke,
  .smoke2,
  .smoke3 {
    filter: blur(5px);
    transform-origin: 50% 50%;
  }
  
  .smoke {
    height: 10rem;
    animation: smoke1 3s linear infinite;
    animation-delay: 0.5s;
  }
  
  .smoke2 {
    animation: smoke2 3s linear infinite;
    animation-delay: 1.5s;
  }
  
  .smoke3 {
    width: 500px;
    animation: smoke3 4s linear infinite;
    animation-delay: 2.5s;
  }


  
  
  @keyframes smoke1 {
    0% {
      filter: blur(0px);
      transform: translateY(0px) scale(-1, 1);
      opacity: 0;
    }
  
    25% {
      filter: blur(3px);
      transform: translateY(-10px) scale(-1, 1.05);
      opacity: 0.5;
    }
  
    50% {
      filter: blur(5px);
      transform: translateY(-20px) scale(-1, 1.1);
      opacity: 1;
    }
  
    75% {
      filter: blur(5px);
      transform: translateY(-30px) scale(-1, 1.15);
      opacity: 0.5;
    }
  
    100% {
      filter: blur(7px);
      transform: translateY(-40px) scale(-1, 1.2);
      opacity: 0;
    }
  }
  
  @keyframes smoke2 {
    0% {
      filter: blur(0px);
      transform: translateY(0px) scale(1);
      opacity: 0;
    }
  
    25% {
      filter: blur(3px);
      transform: translateY(-10px) scale(1.05);
      opacity: 0.5;
    }
  
    50% {
      filter: blur(5px);
      transform: translateY(-20px) scale(1.1);
      opacity: 1;
    }
  
    75% {
      filter: blur(5px);
      transform: translateY(-30px) scale(1.15);
      opacity: 0.5;
    }
  
    100% {
      filter: blur(7px);
      transform: translateY(-40px) scale(1.2);
      opacity: 0;
    }
  }
  
  @keyframes smoke3 {
    0% {
      filter: blur(0px);
      transform: translateY(0px) scale(1);
      opacity: 0;
    }
  
    25% {
      filter: blur(3px);
      transform: translateY(-20px) scale(1.05);
      opacity: 0.5;
    }
  
    50% {
      filter: blur(5px);
      transform: translateY(-40px) scale(1.1);
      opacity: 1;
    }
  
    75% {
      filter: blur(5px);
      transform: translateY(-60px) scale(1.15);
      opacity: 0.5;
    }
  
    100% {
      filter: blur(7px);
      transform: translateY(-80px) scale(1.2);
      opacity: 0;
    }
  }


  