  .image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 350px;
    box-sizing: border-box;
    /* border-radius: 10px; */
    margin: 10px;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    /* height: 55px;     */
  }
  
  .image-list img {
    width: 250px;
    height: 250px;
  }
  .center {
    margin: 25px;
    margin-top: "10px";
  }
  
  .button {
    background-color: initial;
    cursor: pointer;
    background-image: linear-gradient(-180deg, #009ffd, #2a2a72);
    border-radius: 6px;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: -10px;
    padding-bottom: 10px;
  }
  .ynn{
    background-color: initial;
    cursor: pointer;
    background-image: linear-gradient(-180deg, #009ffd, #2a2a72);
    border-radius: 6px;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 28px;
    margin-left: 40px;
    height:44px;
  }
  .button:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
  }
  .address {
    display: block;
    margin: auto;
    height: 50px;
    width: 350px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    /* margin-left: 0px; */
  }
  .url {
    display: block;
    margin: auto;
    height: 50px;
    width: 350px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  input[type="text"]:focus {
    background-color: lightblue;
  }
  .divider {
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-top: -10px;
    width: 50%;
    height:"12px";
    position:relative;
    z-index: 2;
  }
  .data{
    margin-bottom: 30px;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animated {
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: red;
    text-shadow: 2px 2px 4px #000;
  }
