MONGODB_URL='mongodb://127.0.0.1:27017/xxxx'
INFURA_KEY = '254ab7d222334c87bf12345678910027'
CONTRACT_ADDRESS = '0x66dy6492j5F212B81A1723336bDaf235b6932ha1'
BASE_URI='https://ipfs.io/ipfs/xyz'
ALCHMEY_API='https://eth-rinkeby.alchemyapi.io/v2/xyz'
API_ENDPOINT='http://localhost:3002/'
PORT=3002

