@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 bg-cover;
  }
  .gradient-bg {
    background: url("/background.png");
  }
  .noise {
    background: url("data:image/svg+xml,%3Csvg opacity='0.2'  viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }
}

@layer components {
  .tag {
    @apply text-sm font-semibold py-1 px-3 tracking-wider text-blue-700 bg-blue-200 rounded-md;
  }
}

.shadow-custom {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.shadow-custom-lg {
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.24);
}
.shadow-btn {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
}
