#root,
html,
body {
  height: 100%;
}

.button-container {
  display: flex;
  gap: 20px; /* Adjust the gap value as needed */
  margin-top: 20px; /* Add some top margin for spacing */
}

.admission-status {
  font-size: 50px;
  padding-top: 50px;
}

.app-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start; /* Align content to the left */
}

.data-items {
  margin-top: 20px;
}

.data-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.data-item strong {
  font-weight: bold;
}

.students-container {
  text-align: center;
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust spacing between rows if needed */
}

.form-group label {
  width: 80px; /* Adjust the width of the labels as needed */
  margin-right: 10px; /* Adjust spacing between label and input */
}