/* Design taken from https://codepen.io/jspilka95/pen/vYXXWOE */

.area {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  position: absolute;
  bottom: 0;
  top: 0;
  z-index: -1;
}

.cards {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cards img {
  position: absolute;
  display: block;
  width: 30px;
  height: 130px;
  animation: animate 10s linear infinite;
  bottom: -150px;
}

.cards img:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.cards img:nth-child(2) {
  left: 10%;
  width: 100px;
  height: 100px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.cards img:nth-child(3) {
  left: 70%;
  width: 60px;
  height: 60px;
  animation-delay: 4s;
}

.cards img:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.cards img:nth-child(5) {
  left: 65%;
  width: 78px;
  height: 78px;
  animation-delay: 5s;
}

.cards img:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.cards img:nth-child(7) {
  left: 40%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.cards img:nth-child(8) {
  left: 50%;
  width: 45px;
  height: 45px;
  animation-delay: 15s;
  animation-duration: 6s;
}

.cards img:nth-child(9) {
  left: 20%;
  width: 90px;
  height: 90px;
  animation-delay: 2s;
  animation-duration: 8s;
}

.cards img:nth-child(10) {
  left: 5%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.cards img:nth-child(11) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.cards img:nth-child(12) {
  left: 85%;
  width: 100px;
  height: 100px;
  animation-delay: 7s;
}

.cards img:nth-child(13) {
  left: 85%;
  width: 80px;
  height: 80px;
  animation-delay: 5s;
  animation-duration: 8s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
